<div class="sidebar-menu">
    <div class="menu" (mouseleave)="handleSubMenuClick('')">
        <div class="menu-item">
            <div class="menu-item-title" (click)="handleSubMenuClick('showSettingsSubMenu')">
                <div class="menu-item-icon">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="menu-item-desc">
                    <span>settings</span>
                </div>
                <div class="menu-item-desc">
                    @if(showSubMenu['showSettingsSubMenu']) {
                        <i class="fa-solid fa-chevron-up" style="padding-left: 3px;"></i>
                    } @else {
                        <i class="fa-solid fa-chevron-down" style="padding-left: 3px;"></i>
                    }
                </div>
            </div>

            @if (showSubMenu['showSettingsSubMenu']) {
                <div class="menu-item-sub-menu">
                    <div class="menu-item-sub-menu-item"><span>theme</span></div>
                    <div class="menu-item-sub-menu-item"><span>controller</span></div>
                    <div class="menu-item-sub-menu-item"><span>screen</span></div>
                    <div class="menu-item-sub-menu-item"><span>profile</span></div>
                    <div class="menu-item-sub-menu-item"><span>security</span></div>
                </div>
            } 
        </div>

        

        
        <div class="menu-item">
            <div class="menu-item-title" (click)="handleSubMenuClick('showUsersSubMenu')">
            <div class="menu-item-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="menu-item-desc">
                <span>users</span>
            </div>
            <div class="menu-item-desc">
                @if(showSubMenu['showUsersSubMenu']) {
                    <i class="fa-solid fa-chevron-up" style="padding-left: 3px;"></i>
                } @else {
                    <i class="fa-solid fa-chevron-down" style="padding-left: 3px;"></i>
                }
            </div>
        </div>
        @if (showSubMenu['showUsersSubMenu']) {
            <div class="menu-item-sub-menu">
                <div class="menu-item-sub-menu-item"><span>users</span></div>
                <div class="menu-item-sub-menu-item"><span>groups</span></div>
                <div class="menu-item-sub-menu-item"><span>roles</span></div>
                <div class="menu-item-sub-menu-item"><span>logs</span></div>
            </div>
        } 
        </div>

        

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-download"></i>
            </div>
            <div class="menu-item-desc">downloads</div>
        </div></div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-brands fa-windows"></i>
            </div>
            <div class="menu-item-desc">windows</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-sliders"></i>
            </div>
            <div class="menu-item-desc">settings</div>
        </div>
        </div>
        
        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-globe"></i>
            </div>
            <div class="menu-item-desc">users</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            <div class="menu-item-desc">downloads</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-palette"></i>
            </div>
            <div class="menu-item-desc">windows</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="menu-item-desc">settings</div>
        </div>
        </div>
        
        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-calendar"></i>
            </div>
            <div class="menu-item-desc">users</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-chart-simple"></i>
            </div>
            <div class="menu-item-desc">downloads</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-brands fa-windows"></i>
            </div>
            <div class="menu-item-desc">windows</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="menu-item-desc">settings</div>
        </div>
        </div>
        
        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="menu-item-desc">users</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="menu-item-desc">settings</div>
        </div>
        </div>
        
        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="menu-item-desc">users</div>
        </div>
        </div>

        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="menu-item-desc">settings</div>
        </div>
        </div>
        
        <div class="menu-item">
            <div class="menu-item-title">
            <div class="menu-item-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="menu-item-desc">users</div>
        </div>
        </div>

    </div>
</div>