<div class="container-fluid py-4">
    <div style="display: flex; justify-content: center; align-items: center; gap: 10px; flex-wrap: wrap;">
        @for (item of products; track $index) {
            <div class="card" style="width: 16rem; overflow: hidden;">
                <input type="hidden" id="productId" name="productId" value={{item.id}} />
                <img src={{item.imageUrl}} style="width: 100%; height: 150px;" alt={{item.name}}>
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <div class="icons-container">
                    <i class="icon fa-solid fa-cart-plus fa-xl" (click)="addToCart(item)"></i>
                    <i class="icon fa-solid fa-heart fa-xl"></i>
                  </div>
                </div>
              </div>
        }
    </div>
</div>