<div class="container mt-4">
    <div style="display: flex; justify-content: center; align-items: center; gap: 20px; flex-wrap: wrap;">
        @for (item of products; track $index) {
            <div class="card" style="width: 18rem; overflow: hidden;">
                <img src={{item.imageUrl}} style="width: 100%; height: 200px;" alt={{item.name}}>
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        }
    </div>
</div>