<div class="header">
    <div class="logo">
        <div class="logo-img">
            <i class="fa-brands fa-trade-federation"></i>
        </div>
        <div class="logo-title">
            Trade Federation
        </div>
    </div>

    <div class="search-bar">
        <input #inputField class="search-bar-input" type="text" placeholder="Search Products" (keyup.t)="handleChange(inputField.value)"/>
        <div class="search-bar-icon-container"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>

    <div class="cart">
        <div class="cart-details">10</div>
        <div class="cart-icon"><i class="fa-solid fa-cart-shopping fa-2xl"></i></div>
    </div>
</div>