<div class="header">
    <div class="logo" routerLink='category/1'>
        <div class="logo-img">
            <i class="fa-brands fa-trade-federation"></i>
        </div>
        <div class="logo-title">
            Trade Federation
        </div>
    </div>

    <div class="search-bar">
        <input #searchInput class="search-bar-input" type="text" placeholder="Search Products" (keyup)="handleChange($event)"/>
        <div class="search-bar-icon-container" (click)="handleSearchBtnClick(searchInput.value)"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>

    <div class="header-icons-container">
        <div class="cart">
            <div class="cart-details">{{cartItemsCount}}</div>
            <div class="cart-icon"><i class="fa-solid fa-cart-shopping fa-2xl"></i></div>
        </div>
    
        <div class="cart">
            <div class="cart-details">{{favoriteItemsCount}}</div>
            <div class="cart-icon"><i class="fa-solid fa-heart fa-2xl"></i></div>
        </div>
    </div>
</div>