<div class="container-fluid py-4">
    <div class="products-container">
        @for (item of products; track $index) {
            <div style="width: 100%">
              <div class="card" style="width: 16rem; height:22rem; overflow: hidden; margin: auto;">
                <input type="hidden" id="productId" name="productId" value={{item.id}} />
                <img src={{item.imageUrl}} style="width: 100%; height: 150px;" alt={{item.name}}>
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.description}}</p>
                </div>
              </div>
            </div>
        }
    </div>
</div>